/* @import '/node_modules/bootstrap/dist/css/bootstrap.min.css'; */
.search-bar {
    display: flex;
    height: 60px;
    border: 1px solid black;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
}
.search-bar-header {
    flex: 4;
    font-size: 36px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
.search-bar-input {
    flex: 2;
    height: 20px;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
.user-container {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.user-info {
    flex: 1;
    display: flex;
}
.user-avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
}
.user-login {
    font-size: 14px;
    font-weight: 300;
    margin: 25px 0;
}
.user-links {
    margin: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.pagination {
    justify-content: center;
    margin-bottom: 60px;
}