.user-profile {
  width: 90vw;
  height: auto;
  border: 2px solid rgb(22, 22, 22);
  transform: translate(5%, 5%);
}
.user-profile-header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.user-avatar {
  height: 50px;
  width: 50px;
  padding: 5px;
  flex: 1;
}
.user-profile-header-username {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  flex: 3;
}
.user-profile-header-user_link {
  padding: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  text-align: right;
}

.user-profile-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.user-profile-info {
  height: 200px;
  width: 90wh;
  list-style-type: none;
  flex-basis: 95%;
}

.user-profile-info-item {
  margin: 10px 200px 10px 20px;
  height: 30px;
  border-bottom: 1px solid rgb(175, 168, 168);
}
.img-wraper {
  height: 200px;
  flex-basis: 10%;
  max-width: 90px;
}
.user-profile-info-img {
  margin: 5px 0 0 20px;
  width: 30px;
  height: 30px;
}

.repos-header {
  margin: 20px;
  font-size: 16px;
  display: block;
  border-bottom: 2px solid black;
}
.user-avatar {
  height: 80px;
  max-width: 80px;
  padding: 5px;
  flex: 1;
  border-radius: 50%;
}
.user-profile-repos {
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.repo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0;
  flex: 1;
  border-right: 1px solid black;
}
.repo-link:last-child {
  border: none;
}
